html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
   }
   table { border-collapse: collapse; border-spacing: 0; }
   td, th, caption { font-weight: normal; text-align: left; }
   img, fieldset { border: 0; }
   ol { padding-left: 1.4em; list-style: decimal; }
   ul { padding-left: 1.4em; list-style:square; }
   q:before, q:after { content:''; 
}

body{
    font-size: 62.5%;
}

h1{
    font:normal 2.4em Verdana, Geneva, sans-serif;
    color: white;
    background:-moz-linear-gradient(top,rgb(0, 0, 255),rgb(174, 174, 255));
    width:45%;
    border-radius: 15px;
    box-shadow: #00F 5px 5px 10px;
    text-shadow: white 2px 2px 3px;
    padding: 10px;
    text-align: center;
    margin:5px auto;
}

h2{
    font:bold 1.7em Verdana, Geneva, sans-serif;
    padding: 5px 0px 5px 0px;
}

section {
    margin: 15px auto;
    width:91%;
    border-top: 1px dashed grey;
}

figure{
    float:left;
}

    figure img {
        border: 5px solid grey;
        border-radius: 20px;
        -moz-transition: -moz-transform 0.5s ease-in-out 0.1s;
        box-shadow: greenyellow 5px 5px 10px;
    }

    figure img:hover {
        -moz-transform: scale(1.2);        
    }

figcaption{
    font:bold 1.3em Verdana, Geneva, sans-serif;
    text-align: center;
    margin-top: 5px;
}

footer {
    font:normal 1.6em Georgia, "Times New Roman", Times, sans-serif;
    margin-top: 5px;
    padding-top: 100px;
    clear:both;
}